body {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f7f7f7;
    color: #333;
    text-align: center;
}

.container {
    max-width: 600px;
    margin: 30px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: 1px solid #e6e6e6;
}

.info-block h2 {
    color: #007bff;
    font-size: 24px;
    margin-bottom: 10px;
}

.info {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
    margin-top: 20px;
}

.info-item, .group {
    background-color: #f9f9f9;
    padding: 10px;
    border-radius: 6px;
    margin-bottom: 10px;
}

.info-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.info-item span:first-child {
    font-size: 14px;
    color: #555;
    margin-right: 5px;
    font-weight: 500;
}

.info-item span:last-child {
    font-size: 18px;
    color: #000;
    font-weight: bold;
}

.group .info-item {
    background-color: transparent;
    padding: 0;
    margin-bottom: 0;
}

#trackingButton {
    padding: 15px 30px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: background-color 0.3s ease;
    outline: none;
    margin-bottom: 20px; /* Added space between button and dashboard */
}

#trackingButton:hover {
    background-color: #43a047;
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .container {
        width: 90%;
        margin: 20px auto;
    }

    .info-block h2 {
        font-size: 20px;
    }
}

/* Adjust the layout to two columns for the latitude/longitude/accuracy and altitude/altitude accuracy groups */
.group {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

/* Style adjustment for the heading with compass icon */
#heading {
    display: flex;
    align-items: center;
    justify-content: space-between; /* This will ensure the space is distributed evenly */
}

/* Additional style to visually separate the groups */
.group:not(:last-child) {
    margin-bottom: 20px;
    border-bottom: 1px solid #e6e6e6;
    padding-bottom: 20px;
}